body{
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    background-color: #1F2937;
    padding-bottom: 20px;
}

.header-content{
    padding: 0 100px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul, a{
    display: flex;
    margin:0;
    padding: 0;
    gap: 8px;
    list-style: none;
    text-decoration: none;
}

.hero{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.hero-text{
    width: 300px;
}

.placeholder{
    background-color: white;
    text-align: center;
}

.placeholder img{
    height:200px;
    width: auto;
}

.info p:nth-child(1){
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 28px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    text-align: center;
    width: 250px;
}

.card img{
    max-width: 200px;
    height:auto;
    border:#3882f6 solid;
    border-radius: 5px;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e5e7eb;
    margin-top: 50px;
}

blockquote{
    width: 800px;
}

.quote cite{
    text-align: right;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px;
}

.quote p{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.ctawrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    background-color: #3882f6;
    padding: 10px 50px;
    border-radius: 5px;
}

.footer{
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
}

.hero-text p:nth-child(1){
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text p:nth-child(2), a{
    font-size: 18px;
    color:#e5e7eb;
}

.nav p{
    font-size: 24px;
    color: #f9faf8;
}

button{
    background-color:#3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    border:none
}

.cta-button button{
    border: solid #e5e7eb 2px;
    border-radius: 5px;
    padding: 0 10px;
}

.cta-text{
    color:#e5e7eb;
}